@using Darty.Web.ViewModels

<p>@Game.Player1.Name (@Game.Player1.Score) / @Game.Player2.Name (@Game.Player2.Score)</p>
@if (@Game.HasWinner)
{
    <p>@Game.WinnerName Wins!</p>
}

<table>
    @foreach (int dart in _darts)
    {
        int dartValue = dart;
        var player1 = @Game.Player1.GetScoreDetailsForValue(dart);
        var player2 = @Game.Player2.GetScoreDetailsForValue(dart);
        <ScoreboardRow @bind-RowDetailsPlayer1="@player1"
                       @bind-RowDetailsPlayer2="@player2"
                       @bind-DartValue="@dartValue" />
    }
</table>

@code {
    private readonly List<int> _darts = new List<int> { 20, 19, 18, 17, 16, 15, 25 };

    [Parameter]
    public GameViewModel Game { get; set; }

    [Parameter]
    public EventCallback<GameViewModel> GameChanged { get; set; }
}
