@using Darty.Web.ViewModels

<p>Players: @Game.Player1.Name (@Game.Player1.Score) / @Game.Player2.Name (@Game.Player2.Score)</p>
<p>Winner: @Game.HasWinner</p>

@code {
    [Parameter]
    public GameViewModel Game { get; set; }

    [Parameter]
    public EventCallback<GameViewModel> GameChanged { get; set; }
}
