@using Darty.Web.ViewModels

<div class="row justify-content-center">
    <div class="col-auto">
        <div class="scoreboard">
            <table>
                @foreach (int dart in _darts)
                {
                    int dartValue = dart;
                    var player1 = @Game.Player1.GetScoreDetailsForValue(dart);
                    var player2 = @Game.Player2.GetScoreDetailsForValue(dart);
                    <ScoreboardRow @bind-RowDetailsPlayer1="@player1"
                                   @bind-RowDetailsPlayer2="@player2"
                                   @bind-DartValue="@dartValue" />
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 player-1-score">
        <PlayerScore @bind-Player="@Game.Player1" />
    </div>
    <div class="col-6 player-2-score">
        <PlayerScore @bind-Player="@Game.Player2" />
    </div>
</div>

@if (@Game.HasWinner)
{
    <p>@Game.WinnerName Wins!</p>
}

@code {
    private readonly List<int> _darts = new List<int> { 20, 19, 18, 17, 16, 15, 25 };

    [Parameter]
    public GameViewModel Game { get; set; }

    [Parameter]
    public EventCallback<GameViewModel> GameChanged { get; set; }
}
